## Embeddings

**Usamos abaixo um Word2Vec CBOW de 50 dimensões.**

### Como usamos o git como repositorio de código é indicado baixar os embeddings no link abaixo:

http://nilc.icmc.usp.br/nilc/index.php/repositorio-de-word-embeddings-do-nilc

In [51]:
import numpy as np
import pandas as pd
from sklearn.metrics import pairwise
from sklearn.metrics import pairwise_distances

import sys
sys.path.append('../')
from utils import similarity

def table_similarities(word:str,embedding_table:pd.DataFrame):
    w1_str = word
    w1 = np.array(embedding_table.loc[w1_str,:])

    tab = similarity.cossim_vec2table(vec = w1,
                            df = embedding_example,
                            vec_title = w1_str,
                            df_idx_title = 'word')
    return tab

#loading nathan embeddings
word_embedding = pd.read_csv("cbow_s50.txt",sep =' ').reset_index()

#Renomeia as colunas
col_names = [f'level_{i}' for i in range(0,51)]
word_embedding.columns = col_names
word_embedding = word_embedding.set_index('level_0')

![word_embeddings](representacao_word.png)

In [121]:
w1_df = table_similarities(word = 'homem',
                   embedding_table = word_embedding)

w2_df = table_similarities(word = 'mulher',
                   embedding_table = word_embedding)

cos_df = w1_df.merge(w2_df, left_on= 'word',right_on = 'word')

![word_embeddings](vies.png)

In [122]:
#Uso de denominações neutras
job_neutral = ['taxista','motorista','policial','militar','diarista','chefe','auxiliar','vice-presidente',
               'analista','cientista',
              ]

cos_df[cos_df['word'].isin(job_neutral)]

                  word  similarity_homem  similarity_mulher
529            militar          0.138027           0.018290
837              chefe          0.486461           0.173151
1758          policial          0.524237           0.106000
2023   vice-presidente          0.323301           0.157920
2671         motorista          0.673756           0.104669
3585          auxiliar          0.169235           0.200137
6303         cientista          0.610675           0.151645
9279          analista          0.402622           0.136796
15033          taxista          0.802932           0.094569
48201         diarista          0.069297           0.684808

In [123]:
kw_subst = ['panela','enfermagem','medicina','engenharia','ciencia','conhecimento']
cos_df[cos_df['word'].isin(kw_subst)]

               word  similarity_homem  similarity_mulher
1110   conhecimento          0.425448           0.096155
2325       medicina          0.076617           0.349645
2386     engenharia         -0.084514           0.205103
10233    enfermagem          0.048875           0.237265
17806        panela          0.168187           0.613136
90411       ciencia         -0.017541           0.373977

In [124]:
job_genders = ['medico','medica',
               'enfermeiro','enfermeira',
               'advogado','advogada',
               'juiz','juiza',
               'engenheiro','engenheira',
               'programador','programadora',
               'faxineiro','faxineira']
cos_df[cos_df['word'].isin(job_genders)]

               word  similarity_homem  similarity_mulher
1352           juiz          0.552790           0.063067
1611       advogado          0.647213           0.076083
3205     engenheiro          0.528756           0.070841
8821       advogada          0.103379           0.709269
9638     enfermeira          0.145856           0.897437
19422    enfermeiro          0.629140           0.208829
22325   programador          0.521329           0.026923
36288    engenheira          0.094275           0.609618
44580     faxineira          0.143218           0.774388
57204        medico          0.706412           0.152639
64804     faxineiro          0.724001           0.347508
70998        medica          0.197178           0.203410
82295  programadora         -0.035517           0.438952
90732         juiza          0.117268           0.641748

In [98]:
def vec_word(string,embedding = word_embedding):
    if isinstance(embedding, pd.DataFrame):
        vec = np.array(embedding.loc[string])
        
    else:
        vec = embedding.get_vector(string)
        
    return vec

def gvec_word():
    return 
def norm(vec):
    return np.linalg.norm(vec)

def cos_sim(vec1,vec2):
    return (vec1.dot(vec2)/(norm(vec1)*norm(vec2)))

def vec_subtr(vec1,vec2):
    return np.array(vec1) - np.array(vec2)

def normalize(vec):
    return vec/norm(vec)

Usaremos o Skipgram 300 dimensões pois as representações fica melhor descrita do que com 50 dimensões

In [ ]:
word_vectors = KeyedVectors.load_word2vec_format('skip_s300.txt')

In [76]:
#mulher + (rei - homem)
result = word_vectors.most_similar(positive=['rei', 'mulher'], negative=['homem'])

#word_vectors.get_vector('homem')
#most_similar_key, similarity = result
print(result)

word_vectors.most_similar(positive=['frança', 'roma'], negative=['paris'])

[('rainha', 0.6600958108901978), ('consorte', 0.6526049375534058), ('esposa', 0.6504771113395691), ('sobrinha', 0.6446163654327393), ('princesa', 0.6398769617080688), ('filha', 0.6342788934707642), ('rainha-viúva', 0.6339502334594727), ('primogénita', 0.6332842707633972), ('princesa-eleitora', 0.6240090727806091), ('meia-irmã', 0.6229891777038574)]

[('itália', 0.7363957166671753),
 ('grécia', 0.680385410785675),
 ('espanha', 0.6282416582107544),
 ('sicília', 0.6171325445175171),
 ('etrúria', 0.6072238683700562),
 ('anonária', 0.5979100465774536),
 ('sardenha', 0.5940008163452148),
 ('áustria-hungria', 0.5736516118049622),
 ('gália', 0.5675926208496094),
 ('nápoles', 0.5619080066680908)]

In [110]:
vec_ex1 = word_vectors['rei'] - word_vectors['rainha']
vec_ex2 = word_vectors['homem'] - word_vectors['mulher']
vec_ex3 = word_vectors['ele'] - word_vectors['ela']
vec_ex4 = word_vectors['menino'] - word_vectors['menina']

In [119]:
print('rei - rainha e (homem - mulher): ',cos_sim(vec_ex1,vec_ex2))
print('rei - rainha e (ele - ela): ',cos_sim(vec_ex1,vec_ex3))
print('rei - rainha e (menino - menina): ',cos_sim(vec_ex1,vec_ex4))
print()

print('homem - mulher e (ele - ela): ',cos_sim(vec_ex2,vec_ex3))
print('homem - mulher e (menino - menina): ',cos_sim(vec_ex2,vec_ex4))
print()

print('ele - ela e (menino - menina): ',cos_sim(vec_ex3,vec_ex4))

rei - rainha e (homem - mulher):  0.5032248
rei - rainha e (ele - ela):  0.3451421
rei - rainha e (menino - menina):  0.39972755

homem - mulher e (ele - ela):  0.4465069
homem - mulher e (menino - menina):  0.58841366

ele - ela e (menino - menina):  0.3610997

In [123]:
d_analista_male = word_vectors.distance("homem", "chefe")
d_analista_female = word_vectors.distance("mulher", "chefe")

print(d_analista_male)
print(d_analista_female)

0.8942859992384911
0.9341597482562065

In [134]:
cos_sim(word_vectors['homem'],word_vectors['motorista'])

0.36177993

In [135]:
cos_sim(word_vectors['mulher'],word_vectors['motorista'])

0.20728673

In [137]:
gender_dim = vec_subtr(word_vectors['homem'],word_vectors['mulher'])